<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mustofakamal.jfood_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shrine"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ChartActivity"
            android:label="Chart"/>
        <activity android:name=".activity.SelesaiPesananActivity" />
        <activity android:name=".activity.BuatPesananActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.AppBar" />
        <activity
            android:name=".activity.BottomBar"
            android:label="@string/title_activity_bottom_bar" />
        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.Shrine.NoActionBar"/>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>