<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mustofakamal.jfood_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/jfood_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jfood_app_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/Theme.Shrine"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ChartActivity"
            android:label="JFood - Chart" />
        <activity android:name=".activity.SelesaiPesananActivity"
            android:label="JFood - Order Progress" />
        <activity android:name=".activity.BuatPesananActivity"
            android:label="JFood - Create Order" />
        <activity android:name=".activity.MainActivity"
            android:label="JFood - Menu" />
        <activity android:name=".activity.RegisterActivity"
            android:label="JFood - Register" />
        <activity android:name=".activity.AppBar" />
        <activity android:name=".activity.LoginActivity"
            android:label="JFood" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>